<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body, p {
        margin: 10px 0;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <p>🎉 We have a new grant application from {{name}} 🎉</p>
    <p>Application id is: {{id}}</p>
    <p>Phone: {{phone}}</p>
    <p>Email: {{email}}</p>
    <p>Ask amount: {{askAmount}}</p>
    <p>Estimated event cost: {{totalCost}}</p>
    <p>Another email will be sent once the application has been reviewed</p>
    <p><a href="{{url}}">Click here</a> to view the application</p>
  </body>
</html>
