<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body, p {
        margin: 10px 0;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <p>The status of application #{{id}} has changed to <b>{{status}}</b></p>
    <p>Name: {{name}}</p>
    <p>Phone: {{phone}}</p>
    <p>Email: {{email}}</p>
    <p>Ask amount: {{askAmount}}</p>
    <p>Estimated event cost: {{totalCost}}</p>
    <p><a href="{{url}}">A link</a> to the application</p>
    <p>Please reach out to the applicant to tell them about the results</p>
  </body>
</html>
