<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body, p {
        margin: 10px 0;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <p>We have a new grant application from {{name}}</p>
    <p>Application id is: {{id}}</p>
    <p>Phone: {{phone}}</p>
    <p>Email: {{email}}</p>
    <p>Ask amount: {{askAmount}}</p>
    <p>Estimated event cost: {{totalCost}}</p>
    <p>Please review it as quickly as possible :)</p>
    <p><a href="{{reviewUrl}}">Click here</a> to review the application</p>
  </body>
</html>
