<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body, p {
        margin:0px;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <p>We have a new grant application:</p>
    <p>Id: {{id}}</p>
    <p>name: {{name}}</p>
    <p>phone: {{phone}}</p>
    <p>email: {{email}}</p>
    <p>askAmount: {{askAmount}}</p>
    <p>totalCost: {{totalCost}}</p>
    <p>Please review it as quickly as possible.</p>
    <p><a href="https://communityfund.co/email-reviewer/{{id}}/accept">Accept</a></p>
    <p><a href="https://communityfund.co/email-reviewer/{{id}}/reject">Reject</a></p>
  </body>
</html>
